<template lang="pug">
  div.container.mx-auto
    div.py-2
      span.float-right.font-bold.px-1.text-white(:class="{'bg-red-600': volume >= 1.4, 'bg-yellow-600': volume > 1.0 && volume < 1.4, 'bg-green-600': volume <= 1.0 && !isTalkover, 'bg-gray-500': isTalkover}")
        | {{volume}}
      input.mx-2.float-right(type="range", :disabled="isTalkover", step="0.1", min="0", max="1.5", v-model="volume", v-on:change="changeVolume")
      digital-clock.font-bold.mr-2.text-gray-700(:blink="true")
      span.text-gray-500.mr-2 | Now playing:
      span.font-bold.mr-2 {{truncateString(state.currentMetadata.filename)}}
      span.mr-2 {{parsedRemaining}}
      button.underline.text-gray-500.mr-2(v-if="state.playing", v-on:click="pause()") (pause)
      button.underline.text-gray-500.mr-2(v-if="!state.playing", v-on:click="play()") (play)
      button.underline.text-gray-500(v-on:click="skip") (skip track)
    hr
    div.p-2
      button.btn-sm.btn-blue(v-on:click="download") DOWNLOAD
      span.downloading.ml-3(v-if="state.isDownloading") --
      span.text-gray-500.ml-2(v-if="state.downloadQueue > 0") queued: {{state.downloadQueue}}

      button.float-right.btn-sm.btn-yellow(v-on:click="talkover(true)", v-if="!isTalkover", title="talkover") TALKOVER
      button.float-right.btn-sm.btn-red(v-on:click="talkover(false)", v-if="isTalkover", title="stop talkover") STOP TALKOVER
      span.float-right.mr-12.text-white |
      button.float-right.ml-1.mr-12.btn-sm.btn-yellow(v-on:click="closeRoom", v-if="state.roomOpen", title="close jitsi room") CLOSE JITSI ROOM
      button.float-right.mx-1.btn-sm.btn-blue(v-if="state.roomOpen", v-on:click="changeRoom", title="change jitsi room") CHANGE JITSI ROOM
      button.float-right.mx-1.btn-sm.btn-blue(v-if="!state.roomOpen", v-on:click="changeRoom", title="open jitsi room") OPEN JITSI ROOM
      a.float-right.underline(:href="state.room", target="_blank", v-if="state.roomOpen") {{state.room}}
    hr
    .flex.mt-2
      .flex-1.px-2
        h1.text-2xl.font-bold.text-gray-800
          | catalog
          button.text-xs.ml-2.mr-2.underline.text-gray-500(v-on:click="refreshCatalog()") (refresh)
        div.bg-gray-200.p-2
          svg(xmlns="http://www.w3.org/2000/svg", class="h-5 w-5 inline-block text-gray-500 mr-2", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
            path(stroke-linecap="round", stroke-linejoin="round", d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z")
          button.text-sm.text-gray-700(v-on:click="refreshCatalog()") home
          span(v-for="dir in currentDir")
            span.text-sm.text-gray-500.mx-1 /
            button.text-sm.text-gray-700(v-on:click="goToDir(dir)") {{dir}}
        input.my-2(type="text", placeholder="Filter ...",v-model="catalogFilter")
        div.bg-gray-100.p-1(style="height: calc(100vh - 250px);overflow-y:scroll;display:inline-block;width:100%;")
          table.w-full
            tbody
              tr.catalog-row.border-b(v-for="file in filteredCatalog" v-bind:key="file")
                td.text-gray-700.p-2
                  span.text-gray-600.mr-2(v-if="file.isDir")
                    svg(xmlns="http://www.w3.org/2000/svg", class="h-5 w-5 inline-block text-gray-500", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
                      path(stroke-linecap="round", stroke-linejoin="round", d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z")
                  span(v-if="!file.isDir") {{truncateString(file.name)}}
                  button.underline(v-if="file.isDir", v-on:click="listDir(file.name)") {{truncateString(file.name)}}
                td.catalog-row-actions.text-right(v-if="!file.isDir")
                  button.p-1.text-red-400(title="delete", v-on:click="remove(file.name)")
                    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2", class="h-5 w-5")
                      path(stroke-linecap="round", stroke-linejoin="round", d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z")

                  button.p-1.text-yellow-500(title="rename", v-on:click="rename(file.name)")
                    svg(xmlns="http://www.w3.org/2000/svg", class="h-5 w-5", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2")
                      path(stroke-linecap="round", stroke-linejoin="round", d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z")
                  a.inline-block.text-green-500(:href="`/downloads/${(currentDir.length ? currentDir.join('/') + '/' : '') + file.name}`", target="_blank", title="download / preview")
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                  button.p-1.text-blue-500(v-on:click="enqueue(file.name)", title="enqueue track")
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width=2>
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                td.catalog-row-actions.text-right(v-if="file.isDir")
                  button.p-1.text-blue-500(title="open dir", v-on:click="listDir(file.name)")
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
                    </svg>
      .flex-1.px-2
        h1.text-2xl.font-bold.text-gray-800 queue
        div.p-2.bg-gray-100(style="height: calc(50vh - 110px);overflow-y:scroll;display:inline-block;width:100%;")
          table.w-full
            tbody
              tr.text-gray-500(v-if="!state.queue.length") queue is empty
              tr.catalog-row.border-b(v-for="(file, i) in state.queue" v-bind:key="file.filename+file.date")
                td.p-2.text-gray-700 {{i+1}}. {{truncateString(file.filename)}}
                td.p-2.catalog-row-actions.text-center
                  button.text-red-500.p-1(v-on:click="discard(file.rid)", title="discard track")
                    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke="currentColor", stroke-width="2", class="h-5 w-5")
                      path(stroke-linecap="round", stroke-linejoin="round", d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z")

        h1.text-2xl.font-bold.text-gray-800
          | played
          button.text-xs.ml-2.underline.text-gray-500(v-on:click="clearPlayed()") (clear)
        div.p-2.bg-gray-100(style="height: calc(50vh - 110px);overflow-y:scroll;display:inline-block;width:100%;")
          table.w-full
            tbody
              tr.border-b(v-for="file in played" v-bind:key="file.filename+file.on_air")
                td.p-1.text-gray-700 {{truncateString(file.filename)}}
                td.p-1.text-xs.text-gray-500 {{parseDate(file.on_air)}}
    hr
    div.w-full.pt-1
      span.mx-2.downloading(title="processing" v-if="isLoading") --
      span.text-red-500.font-bold(title="disconnected" v-if="!connected || !logged") disconnected
      span.text-green-500.font-bold(title="connected" v-if="connected && logged") connected

      ul.float-right(v-if="errors.length", style="height:1.5rem;overflow-y:scroll")
        li.text-right(v-for="error in errors", v-bind:key="error.error+error.date")
          span.text-red-400.mr-2 {{error.error}}
          span.text-red-500.text-xs {{parseDate(error.date)}}
</template>

<script>
// @ is an alias to /src
import DigitalClock from "vue-digital-clock"
import io from "socket.io-client"
let socket
export default {
  name: "home",
  components: {
    DigitalClock,
  },
  data() {
    return {
      logged: false,
      state: {
        currentMetadata: {},
        queue: [],
        dowloading: false,
        roomOpen: false,
        playing: true,
      },
      currentDir: [],
      list: [],
      volume: 1.0,
      remaining: 0,
      lastRemaining: 0,
      catalogFilter: "",
      played: [],
      isTalkover: false,
      connected: false,
      logged: false,
      isLoading: false,
      errors: [],
    }
  },
  created() {
    socket = io()

    socket.on("connect", () => {
      this.connected = true
      let pass = window.prompt("password")
      socket.emit("login", pass)
    })

    socket.on("logged", (data) => {
      this.logged = true
      this.init()
    })

    socket.on("state", (data) => {
      this.state = data
    })

    socket.on("volume", (data) => {
      this.volume = parseFloat(data).toFixed(1)
    })

    socket.on("list", (data) => {
      this.list = data
    })

    socket.on("remaining", (data) => {
      if (this.lastRemaining < data.d) {
        this.remaining = data.remaining
        this.lastRemaining = data.d
      }
    })

    socket.on("played", (data) => {
      this.played = data.reverse()
    })

    socket.on("talkover", (data) => {
      this.isTalkover = data
    })

    socket.on("failed", (data) => {
      console.log("received error", data)
      this.errors.unshift(data)
    })

    socket.on("disconnect", () => {
      this.connected = false
      this.logged = false
    })
  },
  computed: {
    filteredCatalog() {
      if (this.catalogFilter.length) {
        return this.list.filter((item) => {
          return item.name.toLowerCase().includes(this.catalogFilter.toLowerCase())
        })
      } else {
        return this.list
      }
    },
    parsedRemaining() {
      let r = this.remaining
      let s = r % 60
      let m = (r - s) / 60
      s = s < 10 ? `0${Math.floor(s)}` : Math.floor(s)
      m = m < 10 ? `0${m}` : m
      return `${m}m${s}s`
    },
  },
  methods: {
    init() {
      socket.emit("list")
    },
    download() {
      let downloadUrl = window.prompt("dowload url")

      if (!downloadUrl) return

      socket.emit("download", downloadUrl)
      this.setIsLoading()
    },
    enqueue(file) {
      socket.emit("enqueue", (this.currentDir.length ? this.currentDir.join('/') + '/' : '') + file)
      this.setIsLoading()
    },
    changeVolume() {
      socket.emit("volume", this.volume)
    },
    skip() {
      socket.emit("skip")
      this.setIsLoading()
    },
    discard(rid) {
      socket.emit("ignore", rid)
      this.setIsLoading()
    },
    talkover(on) {
      socket.emit("talkover", on)
    },
    changeRoom() {
      let room = window.prompt("new room name")
      if (room) {
        socket.emit("firefox:open", room)
      }
      this.setIsLoading()
    },
    closeRoom() {
      socket.emit("firefox:close")
    },
    pause() {
      socket.emit("pause")
      this.setIsLoading()
    },
    play() {
      socket.emit("play")
      this.setIsLoading()
    },
    clearPlayed() {
      socket.emit("clearplayed")
      this.setIsLoading()
    },
    setIsLoading() {
      this.isLoading = true
      setTimeout(() => {
        this.isLoading = false
      }, 2000)
    },
    rename(filename) {
      let newName = prompt("new file name", filename)

      if (newName) {
        socket.emit("rename", {
          old: (this.currentDir.length ? this.currentDir.join('/') + '/' : '') + filename,
          new: (this.currentDir.length ? this.currentDir.join('/') + '/' : '') + newName,
        })
        this.setIsLoading()
      }
    },
    remove(filename) {
      if (confirm(`Delete file ${filename}?`)) {
        socket.emit("remove", (this.currentDir.length ? this.currentDir.join('/') + '/' : '') + filename)
      }
      this.setIsLoading()
    },
    refreshCatalog() {
      this.currentDir = []
      socket.emit('list')
      this.setIsLoading()
    },
    listDir(dir) {
      this.currentDir.push(dir)
      socket.emit('list', this.currentDir.join('/'))
      this.setIsLoading()
    },
    goToDir(dir) {
      this.currentDir = this.currentDir.slice(0, this.currentDir.indexOf(dir))
      this.listDir(dir)
    },
    parseDate(date) {
      return new Date(date).toLocaleTimeString()
    },
    truncateString(string = "", length = 50) {
      return string.length > length ? string.slice(0, length) + "..." : string
    },
  },
  destroyed() {
    socket.disconnect()
  },
}
</script>

<style>
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-sm {
  @apply py-1 px-2 rounded text-xs;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-red:hover {
  @apply bg-red-700;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-yellow {
  @apply bg-yellow-500 text-gray-700;
}
.btn-yellow:hover {
  @apply bg-yellow-700;
}

.btn-green {
  @apply bg-green-500 text-white;
}

.btn-green:hover {
  @apply bg-green-700;
}

tr:hover {
  @apply bg-gray-200;
  @apply font-bold;
}

.downloading {
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: inline-block;
  line-height: 18px;
  color: #fff;
  background: lightblue;
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.catalog-row-actions {
  display: none;
}

.catalog-row:hover .catalog-row-actions {
  display: block;
}

</style>
